<% if !user_signed_in? %>
	<div class="jumbotron">
		<div class="container">
	  <h1>DJ Charts</h1>
	  <p>Your anonymous source for DJ music. Built by DJs for DJs.</p>
	  <p><a class="btn btn-primary btn-lg" role="button">Signup to get started</a></p>
	  </div>
	</div>
<% end %>

<h2>Recently Posted Songs: </h2>
<% @recent_songs.each do |song| %>
  <p><%=link_to song.title + " :: " + song.artist, song %></p>
<% end %>
