<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Top 40", "/genre/top40"  %></li>
      <li><%= link_to "EDM", "/genre/edm"  %></li>
      <li><%= link_to "Hip Hop", "/genre/hip-hop"  %></li>
    </ul>
  </div><!--/.well -->